body {
    margin: 0px;
    height: 100%;
    
}

header {
    padding: 10px;
    background-image: url(fon.jpg);
    background-size:cover;
}


main {

}

footer {
    padding: 10px;
    background-color: aqua;
    
    
    
}

a{
    color: rgb(0, 0, 0);
    transition: 4s 0s;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 50%;
    transition: 0.3s 110ms;
}

a:active {
    color: pink;
}