body {
    margin: 0px;
    height: 100%;
    
}

header {
    padding: 0px;
    background-image: url(fon.jpg);
    
}

footer {
    padding: 10px;
    background:linear-gradient(to right top, rgb(35, 152, 182), rgb(0, 102, 255), rgb(11, 70, 199), rgb(6, 9, 207));
   text-align: center;
}

a:hover {
    color: red;
}
